<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApplicationSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ApplicationSettings.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>My Application Setting</value>
            </setting>
            <setting name="SettingFrom" serializeAs="String">
                <value>SettingFile</value>
            </setting>
            <setting name="TestSetting" serializeAs="String">
                <value>Setting from setting file</value>
            </setting>
        </ApplicationSettings.Properties.Settings>
    </userSettings>
</configuration>